In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('https://media.githubusercontent.com/media/EthanRosehart/DS2_Assignments/refs/heads/main/mma_mart.csv')

In [4]:
df.head()

,order_id,product_id,product_name,aisle_id,aisle,department_id,department
0,1,49302,Bulgarian Yogurt,120,yogurt,16,dairy eggs
1,1,11109,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,other creams cheeses,16,dairy eggs
2,1,10246,Organic Celery Hearts,83,fresh vegetables,4,produce
3,1,49683,Cucumber Kirby,83,fresh vegetables,4,produce
4,1,43633,Lightly Smoked Sardines in Olive Oil,95,canned meat seafood,15,canned goods

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987259 entries, 0 to 987258
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   order_id       987259 non-null  int64
 1   product_id     987259 non-null  int64
 2   product_name   987259 non-null  object
 3   aisle_id       987259 non-null  int64
 4   aisle          987259 non-null  object
 5   department_id  987259 non-null  int64
 6   department     987259 non-null  object
dtypes: int64(4), object(3)
memory usage: 52.7+ MB